<a href="https://colab.research.google.com/github/MateNikhil/-DS_PY_Writeups_2001614/blob/main/2001614.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/My_Drive')

Mounted at /content/My_Drive

In [3]:
path="/content/My_Drive/MyDrive/bank-full[1].csv"
df=pd.read_csv(path)

In [4]:
df.describe()

       age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
count                                               45211
unique                                              45211
top     58;"management";"married";"tertiary";"no";2143...
freq                                                    1

In [6]:
df.shape

(45211, 1)

In [7]:
df.size

45211

In [9]:
print(subset_df.dtypes)

Series([], dtype: object)

In [15]:
print(subset_df.columns)

Index([], dtype='object')

In [16]:
print(subset_df.shape)

(45211, 0)

In [20]:
import pandas as pd

# Load the bank dataset into a pandas dataframe
bank_df = pd.read_csv('/content/My_Drive/MyDrive/bank-full[1].csv')

# Check for missing values in the dataframe
null_counts = bank_df.isnull().sum()

print('Number of missing values per column:')
print(null_counts)

Number of missing values per column:
age;"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"    0
dtype: int64